{% extends "dashboard/base.html" %}
{% block content %}
<br>
<br>
<br>
<table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
    <thead>                                 
      <tr role="row">
        <th class="text-center sorting_asc" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
        <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending">Kategoriya</th>
        </thead>
    <tbody>                                 
      
        {% for c in category %}
        <tr role="row" class="odd">
            <td class="sorting_1">
                {{forloop.counter}}
            </td>
            <td><a href="{% url 'dashboard:update_category' c.id %}" data-toggle="modal" data-target=".bd-example-modal-lg{{forloop.counter}}">{{c.name}}</a>
                <div class="modal fade bd-example-modal-lg{{forloop.counter}}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title h4">{{q.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <i class="anticon anticon-close"></i>
                                </button>
                            </div>
                            <form action="{% url 'dashboard:update_category' c.id %}" method="post">
                                {% csrf_token %}
                            <div class="modal-body">
                                <input type="text" class="form-control" value="{{c.name}}" name="name">
                            </div>
                            <button type="submit" class="btn btn-primary btn-tone" >O`zgartirish</button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}